# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# SQLite
db.sqlite
*.sqlite3

# Logs
*.log

# MacOS
.DS_Store

# Docker
*.pid

# VSCode
.vscode/

# Pytest
.pytest_cache/

# Mypy
.mypy_cache/
